@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --margin-grid: 30px;

    --font-family: "Roboto", sans-serif;

    --font-size-title:3rem;
    --font-size-text:1.75rem;
    --font-size-preview-text:1.5rem;

    --padding-h1: 20px;
    --padding-card-p:5px;
    
    --margin-bottom-h1:20px;

    --gap-grid:20px;
    
    --color-background:#dddddd;

    --border-radius-card: 10px;
}

*{
    margin: 0;
    padding: 0;
}


h1{
    background-color: var(--color-background);
    font-family: var(--font-family);
    text-align: center;
    font-size: var(--font-size-title);
    padding: var(--padding-h1);
    margin-bottom: var(--margin-bottom-h1);
}

.grid{
    margin-left: var(--margin-grid);
    margin-right: var(--margin-grid);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap-grid);
}

.card{
    border: 3px solid var(--color-background);
    border-radius: var(--border-radius-card);
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card p{
    font-family: var(--font-family);
    font-size: var(--font-size-preview-text);
    padding: var(--padding-card-p);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.card img{
    width: 100%;
    border-radius:var (--border-radius-card);
   
}

/* Tablet: 2 tarjeta por fila */
@media (max-width: 1024px) {
    .card {
        grid-column: span 6; 
    }
}

/* Móvil: 1 tarjeta por fila */
@media (max-width: 600px) {
    .card {
        grid-column: span 12; 
    }
}

.popup {
    position: fixed;           
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);  
    display: none;            
    justify-content: center;   
    align-items: center;
    z-index: 1;             
}

.popup-content {
    background: white;
    padding: var(--padding-h1);
    max-width: 90%;
    max-height: 90%;
    border-radius: var(--border-radius-card);
    text-align: center;
}

.popup-content img {
    width: 100%;
}

.close {
    cursor: pointer;
    font-size: var(--font-size-title);
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
    color: black;
    font-family: var(--font-family);
}

#textImg{
    font-family: var(--font-family);
    font-size: var(--font-size-text);
}