:root{
    --margin-grid: 80px;
}

.grid{
    margin-left: 0 auto;
    margin-right: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.card{
    grid-column: span 3;
}

.card img{
     width: 100%;
}

/* Tablet: 2 tarjeta por fila */
@media (max-width: 1024px) {
    .card {
        grid-column: span 6; 
    }
}

/* Móvil: 1 tarjeta por fila */
@media (max-width: 600px) {
    .card {
        grid-column: span 12; 
    }
}

.popup {
    position: fixed;           
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);  
    display: none;            
    justify-content: center;   
    align-items: center;
    z-index: 1;             
}

.popup-content {
    background: white;
    padding: 20px;
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    text-align: center;
}

.popup-content img {
    width: 100%;
}

.close {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
    color: black;
}
